.game-square {
  align-items: center; 
  background-color: white;
  border: 1px solid black; 
  display: flex;
  height: 60px;
  justify-content: center; 
  width: 120px; 
  position: relative;
  box-shadow: 0 5px 5px rgb(0, 0, 0);
}

.game-square-image {
  position: absolute;
  z-index: 0;
  filter: grayscale(0%);
  width: 120px;
  height: 60px;
}

.game-square-image.players-1, .game-square-image.players-2,
.game-square-image.players-3, .game-square-image.players-4 {
  position: absolute;
  z-index: 1;
  filter: grayscale(85%);
}

.game-square-player-grid {
  display: grid;
  gap: 1px;
}

.players-1 {
  grid-template-areas:
    "p";
}

.players-2 {
  grid-template-areas:
    "p p";
}

.players-3, .players-4 {
  grid-template-areas:
    "p p" 
    "p p"
}
