.last-spin-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 175px;
  width: 400px;
  border: 3px solid black;
  background-color: white;
  box-shadow: 0 1px 5px rgb(48, 48, 48);
}

.spinner-button {
  background-color: var(--player-color-0);
  border: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  &:hover{
    animation: spin 2s infinite;
  }
}

.last-spin-header {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  margin-left: -40px;
  transform: rotate(270deg);
}

.last-spin-content {
  display: flex;
  align-items: center;
  height: 90%;
  width: 80%;
  text-align: center;
}

.last-spin-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
  width: 50%;
  height: 80%;
}

.spinner-button-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.player-controller-header {
  margin: 0;
}

@keyframes spin {
  100% {
    transform: rotate(1080deg);
  }
}

@keyframes arrowPoint {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(100%) scale(1.15);
    
  }
  40% {
    transform: translateX(80%) scale(1.1);
  }
  60% {
    transform: translate(100%) scale(1.15);;
    
  }
  80% {
    transform: translateX(80%) scale(1.1);
  }
  100% {
    transform: translateX(0);
  }
}