.spin-result-container {
  z-Index: 6;
  background-color: white; 
  color: black;
  display: flex; 
  flex-direction: column;
  border-radius: .5rem; 
  align-items: center; 
  width: 60%;
}

.spin-result-exit-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.spin-result-main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.spin-result-gameplay-content {
  display: flex;
  justify-content: center;
  border-right: 2px solid black;
  width: 100%;
}