.spin-result-container {
  z-Index: 1;
  background-color: white; 
  color: black;
  display: flex; 
  flex-direction: column;
  border-radius: .5rem; 
  align-items: center; 
  width: 60%;
  margin-top: -8%;
  box-shadow: 0 1px 5px rgb(48, 48, 48);
}

.spin-result-exit-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.spin-result-main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.spin-result-gameplay-content {
  display: flex;
  justify-content: center;
  border-right: 2px solid black;
  width: 100%;
}

.spin-result-turn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spin-result-turn-image {
  width: 150px;
  rotate: 180deg;
}

.spin-result-rule {
  margin: 0;
  font-size: 3rem;
}

.spin-result-message {
  font-weight: bold;
  margin: 3rem 1.5rem;
}

.spin-result-button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.spin-result-turn-image.salute {
  animation: salute 3s ease-in-out infinite;
  translate: 0 100%;
  transform-origin: top;
}

.spin-result-turn-image.turtle-shell {
  animation: turtle-shell 5s 1;
}

.spin-result-turn-image.flash-grow {
  animation: flash-grow 2s ease-in-out infinite;
}

.spin-result-turn-image.pokeball {
  animation: pokeball 1s ease-in-out infinite;
  translate: 0 100%;
  transform-origin: top;
}

.spin-result-turn-image.dropdown {
  animation: dropdown .5s ease-in-out forwards;
}

.spin-result-player-button {
  border: 2px solid black;
  border-radius: 8px;
  padding: .5rem .75rem .5rem .75rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.spin-result-player-button.player-1 {
  background-color: var(--player-color-0);
}

.spin-result-player-button.player-2 {
  background-color: var(--player-color-1);
}

.spin-result-player-button.player-3 {
  background-color: var(--player-color-2);
}

.spin-result-player-button.player-4 {
  background-color: var(--player-color-3);
}

@keyframes salute {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes turtle-shell {
  0% {
    transform: translateX(-125px) rotate(5deg);
  }
  25%{
    transform: translateX(125px) rotate(20deg);
  }
  30% {
    transform: translateX(125px) scaleX(-1) rotate(5deg);
  }
  45% {
    transform: translateX(-125px) scaleX(-1) rotate(20deg); 
  }
  65% {
    transform: translateX(-125px) rotate(5deg);
  }
  70%{
    transform: translateX(125px) rotate(20deg);
  }
  75% {
    transform: translateX(125px) scaleX(-1) rotate(5deg);
  }
  95% {
    transform: translateX(-125px) scaleX(-1) rotate(20deg); 
  }
  100% {
    translate: translateX(0) rotate(0deg);
  }
}

@keyframes flash-grow {
  25% {
    opacity: .5;
    translate: -10% -10%;
  }

  50% {
    opacity: 1;
    scale: 1.1;
    translate: 10% -10%;
  }

  75% {
    opacity: .5;
    translate: -10% 10%;
  }
}

@keyframes pokeball {
  20% {
    transform: rotate(-7deg);
  }

  40% {
    transform: rotate(5deg)
  }

  60% {
    transform: rotate(-5deg);
  }

  80% {
    transform: rotate(7deg)
  }

  100%{
    transform: rotate(-2deg);
  }
}

@keyframes dropdown {
  0% {
    translate: 0 -70%
  }

  50% {
    scale: 1.5;
  }

  100% {
    scale: 1;
    translate: 0 10%;
  }
}