#root {
  --player-color-0: #FE0600;
  --player-color-1: #036AEB;
  --player-color-2: #FDBB1A;
  --player-color-3: #019B1D;
  --player-color-light-0: #FDA192;
  --player-color-light-1: #54C9FE;
  --player-color-light-2: #FEE71F;
  --player-color-light-3: #51E985;
  --player-color-dark-0: #d10000;
  --player-color-dark-1: #004b9b;
  --player-color-dark-2: #d18f00;
  --player-color-dark-3: #007d00;
  --title-yellow: #ffd61d;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.standing-last-spin-container {
  display: flex; 
  align-items: center; 
  justify-content: space-around; 
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
